body {
	background: white;
	color: black;
	text-align: center;
	font-family: "Raleway", sans-serif;
	width: 100vw;
}

h1 {
	font-weight: bold;
}

button {
	font-family: "Raleway", sans-serif;
}

table {
	width: 80vw;
	margin-left: 10vw;
}

a {
	color: #09260e;
	text-decoration: none;
	font-weight: bold;
}

footer {
	background: #99879e;
	position: absolute;
	bottom:0;
	width: 100vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

canvas {
	display: none;
	background: white;
	text-align: center;
	width:80vw;
	height:60vh;
	margin-left: 10vw;
}