body {
	background: white;
	color: black;
	text-align: center;
	font-family: "Raleway", sans-serif;
	width: 100vw;
	margin: 0 auto;
	font-size: 1.25vw;
}

h1 {
	font-weight: bold;
	font-size: 6vw;
	color: #b1c4ce;
	font-family: "Galada", sans-serif;
	text-shadow: 3px 3px #122e3d;
	margin-bottom: 2vh;
	margin-top: 2vh;
}

button {
	font-family: "Raleway", sans-serif;
	width: 40vw;
	background: #d7d8d6;
	border: 2px solid #d7d8d6;
	border-radius: 2px;
}

table {
	width: 80vw;
	margin-left: 10vw;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

footer {
	background: #d7d8d6;
	bottom:0;
	width: 100vw;
	left: 0;
	position: fixed;
}

.footerLink {
	color: white;
}

canvas {
	display: none;
	background: white;
	text-align: center;
	margin-left: 10vw;
}

#myCanvas {
	margin-bottom: 20vh;
}

#links {
	background: #b1c4ce;
	padding-bottom: 2vh;
	padding-top: 2vh;
}

#content {
	padding: 0;
	margin: 0;
}

#colorUpdater {
	display: none;
	margin-bottom: 1vh;
}

#colorMenu {
	margin-bottom: 1vh;
}

.search {
	display: inline-block;
	padding-left: 5vw;
	padding-right: 5vw;
}

#searchButton, #updateColor {
	width: 10vw;
}

#directions {
	background: #d7d8d6;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

#directionsText {
	margin-left: 10vw;
	margin-right: 10vw;
}

.searchBar {
	padding: 1vh;
}

@media only screen and (max-width: 600px) { 
	#directions {
		margin-bottom: 15vh;
		margin-top: 0;
		padding-top: 1vh;
		padding-bottom: 1vh;
	}

	h1 {
		font-size: 10vw;
	}

	h4, h2 {
		font-size: 4vw;
	}

	p {
		font-size: 3vw;
	}

	input {
		height: 3vh;
		width: 30vw;
		font-size: 2vw;
	}
	button {
		min-height: 3vh;
		font-size: 2vw;
	}

	footer {
		font-size: 3vw;
	}

	#colorUpdater {
		margin-top: 1vh;
		margin-bottom: 1vh;
	}
}
